@import '../../../style/colors.less';
.keyvalue-item {
    list-style: none;
    margin-bottom: 4px;
    >div {
        display: inline-block;
        >label {
            margin-right: 4px;
            >span {
                margin-bottom: 1px;
            }
        }
    }
    >input {
        width: calc(50% - 34px);
        margin-right: 4px;
        border-radius: 0px;
    }
    >i {
        font-weight: bold;
        cursor: pointer;
        margin-left: 4px;
        &:hover {
            color: red;
        }
    }
}

.keyvalue-dragicon {
    margin-right: 4px;
    font-size: 13px;
    cursor: move;
    &:hover {
        color: @primary-color;
    }
}