.keyvalue-item {
    list-style:none;
    margin-bottom:4px;
    >div {
        display: inline-block;
        >span {
            margin-right: 4px;
        }
        >label {
            margin-right: 4px;
        }
    }
    >input {
        width: calc(50% - 30px);
        margin-right: 4px;
        border-radius: 0px;
    }
}