@import '../../../style/colors.less';

.schedule-add-btn{
    font-size: 20px;
    top: 2px;
    right: 4px;
}

.schedule-content{
    padding: 8px;
}

.schedule-info{
    word-wrap: true;
    font-size: 16px;
    border-bottom: 1px solid @border-color;
    padding: 0px 8px 6px 8px;
    margin:  -2px -8px 0px -8px;
}

.schedule-table{
    margin-top: 8px;
}

.schedule-sub-tab-btn{ 
    border: 0px;
    font-size: 14px;
    background: transparent;
    color: @place-holder-color;
    &:hover {
        color: @border-color-dark;
    background: transparent;
    }
    &:focus {
        color: @place-holder-color;
        background: transparent;
    }
}

.schedule-success{
    color: #87d068;
}

.schedule-failed{
    color: #f50;
}

.schedule-sub-table-tooltip{
    .ant-tooltip-inner{
        max-width: 650px;
    }
}

.schedule-item-key{
    font-weight: bold;
}

.schedule-console{
    width: 100%;
    height: 200px;
}

.schedule-console-title {
    margin-left: -10px;
    padding-left: 14px;
    line-height: 36px;
    font-size: 15px;
    color: @place-holder-color;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
}

.schedule-console-content{
    overflow-y: auto;
    word-wrap: true;
}