@import '../../../style/colors.less';

.collection-tree {
    text-align: left;
    background: @panel-background;
}

.collection-item {
    >div[aria-expanded] {
        border-bottom: @border-color-dark 1px solid;
        z-index: 10;
        padding-left: 16px;
        padding-right: 0px;
        margin-bottom: 4px;
        height: 60px;
        line-height: 60px;
        span {
            font-size: 16px;
        }
    }
    >div[aria-expanded="true"] {
        box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.45);
    }
    ul[role="menu"]{
        background: @panel-background;
    }
}

.c-icon {
    font-size: 18px;
    margin-left: 16px;
    width: 24px;
    vertical-align: text-bottom;
}

.record {
    display: flex;
    .record-icon {
        display: flex;
        width: 48px;
    }
}

.record-in-folder {
    margin-left: 32px;
}

.folder>div[aria-expanded] {
    height: 30px !important;
    line-height: 30px !important;
}