@border-color: #e9e9e9;

.collection-tree{
    text-align: left;
}

.collection-item{
    > div[aria-expanded]{
        border-bottom: @border-color 1px solid;
        z-index: 10;
        padding-left: 16px;
        padding-right: 0px;
        margin-bottom: 4px;
        height: 60px;
        line-height: 60px;
        span{
            font-size: 16px;
        }
    }
    > div[aria-expanded="true"]{
        box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.45);
    }
}

.c-icon{
    font-size: 18px;
    margin-left: 16px;
    width: 24px;
    vertical-align: text-bottom;
}

.record{
    display: flex;
    .record-icon{
        display: flex;
        width: 48px;
    }
}

.record-in-folder{
    margin-left: 32px;
}

.folder > div[aria-expanded]{
    height: 30px !important;
    line-height: 30px !important;
}

.item-with-menu{
    width: 100%;
    display: inline-block;

    .item-with-menu-icon-visible,
    &:hover .item-with-menu-icon{
        display: inline;
        position: absolute;
        top: calc(50% - 12px);
        right: 24px;
    }
}

.item-with-menu-icon{
    display: none;
    font-weight: bold;
    &:hover{
        background: rgba(89, 89, 89, 0.1);
    }
}

